:root {
    --brand-color: #32cd32;
    --showcase-color-high: #27f953;
    --showcase-color-low: #28d545;
}

@media (prefers-color-scheme: dark) {
    :root {
        --brand-color: #32cd32;
        --showcase-color-high: rgb(48, 110, 55);
        --showcase-color-low: rgb(26, 84, 50);
    }
}
